<h1>Contents:</h1>
<ul>
  <% for content in contents %>
    <li>
        <a href="<%= content[:download_url] %>">Download</a> |
        <a href="<%= content[:stream_url] %>">Stream</a> |
        <%= content[:title] %>
    </li>
  <% end %>
</ul>