<h1>Downloading <%= title %></h1>
<object id="downloadTrigger" type="application/downloadTrigger" width="0" height="0"></object>
<script type="text/javascript">
  <![CDATA[
  (function () {
    function downloadVideo() {
      log('downloading video');
      ajaxGet("<%= cad_url %>", {
        success:function (cad) {
          log('cad downloaded: ' + cad);
          var downloadTrigger = document.getElementById('downloadTrigger');
          downloadTrigger.checkDownloadPossible(cad);
          downloadTrigger.registerDownload(cad, true);
        }
      });
    }

    drmRegister(downloadVideo);
  })();
  ]]>
</script>