body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
  color: white;
}

#log {
  top: 50px;
  left: 50px;
  width: 960px;
  height: 200px;
  color: green;
  position: absolute;
  z-index: 100;
  visibility: hidden;
}

#drmAgent {
    width: 1;
    height: 1;
}

:focus {
    border: 1px solid white;
}